output "HDMI-A-1" {
    mode "1920x1080"
    scale 1
    transform "90"
    position x=0 y=0
}

output "DP-1" {
    mode "2560x1440"
    scale 1
    position x=1080 y=0
    focus-at-startup
}

workspace "1" {
    open-on-output "HDMI-A-1"
}

workspace "2" {
    open-on-output "DP-1"
}

workspace "3" {
    open-on-output "HDMI-A-1"
}

workspace "4" {
    open-on-output "DP-1"
}

workspace "5" {
    open-on-output "DP-1"
}

workspace "6" {
    open-on-output "DP-1"
}

workspace "7"
workspace "8"
workspace "9"

workspace "10" {
    open-on-output "HEADLESS-1"
}

workspace "gmail" {
    open-on-output "DP-1"
}

window-rule {
    match at-startup=true title="^startup-work-terminal$"
    open-on-workspace "2"
    open-focused false
}

spawn-sh-at-startup "$TERMINAL --title startup-work-terminal"

binds {
    Mod+M repeat=false { spawn "toggle-monitors"; }
    XF86MonBrightnessUp allow-when-locked=true { spawn "brightness-external" "--increase"; }
    XF86MonBrightnessDown allow-when-locked=true { spawn "brightness-external" "--decrease"; }
}
